* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
    background-color: var(--red);
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
