@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root{
  --red: #FF3233;
  --dark-red: #CC2627;
  --green: #02989E;
  --dark-green: #027678;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}